.postPage{
    /* display:grid;
    grid-template-areas:
                        "title ."
                        "content ."
                        "requestButtons userButtons"
                        "commentContainer ."
                        "commentForm ."; */

    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;


}


.postTitle{
    /* grid-area: "title"; */
    margin-top: 5%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.postBody{
    /* grid-area: "content"; */
    margin-top: 5%;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

.requestButtons{
    /* grid-area:"requestButtons" */
    margin-left: 10%;
    margin-right: 10%;
}
.commentButton{
    width: 8rem;
}

#userButtons{

    /* grid-area:"userButtons" */
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: flex-end;

    /* display: flex; */
    /* flex-direction: row; */
}

.userButton:hover{
}

.commentContainer {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: row;
    align-items: center;
    /* background-color: #454a52; */
    border: solid 2px #25282c;
    color: white;
    padding-right: 1rem;
    /* grid-area:"commentContainer" */

}

#picNamePost{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    background-color: #1e2024;
    border: solid 2px #25282c;
    width: 10rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}


.commentForm{

    /* grid-area:"commentForm" */


}

#datePrev{
    font-size: .5rem;
}

#usernamePrev{
    background-color: transparent;
    background: transparent;
    border:transparent;
    /* transition: background-color 2s ease-in-out; */
    transition: background-color 0.2s linear;
    color: white;
    font-size: 1rem;



}

#usernamePrev:hover{
    cursor: pointer;
    background-color: #b3bece;
    opacity: 1;
    /* transition: 10s; */
}

.commentPP{
    border-radius: 5%;
    border: solid 2px #25282c;
    width: 5rem;
    height: 5rem;
}

#commentContent{

    font-size: .7em;
}

.partyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}

.editCommentBut{
    font-size: 14px;
    margin: 3%;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(191, 191, 191);
    padding: 2% 10%;
    outline: none;
    border: none;
    background-color: #7bc2b196;
}

.editCommentBut:hover{
    background-color: #689e9296 ;
    transform: scale(1.01);
}
