.profile-page {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  max-width: 1000px;
  padding: 2%;
  grid-area: main;
  margin-left: 10%;
  box-shadow: 0px 0px 2px 0px;
  overflow-y: auto;
}
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;

}

.profile-pic {
  margin-right: 1.7%;
  width: 90px;
  max-height: 90px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #443f3f5e;
}
.tab-bar {
  display: flex;
  border: solid 1px rgb(65, 67, 79);
  border-radius: 15px;
  justify-content: space-around;
  padding: 3%;
}
.tab-bar div{
    font-size: 20px;
}
.tab-bar div:hover{
    font-size: 20px;
    color: rgb(134, 138, 170);
    cursor: pointer;
}
#cancel-edit-profile {
  width: 430px;
  position: relative;
  top: -20px;
  left: 35px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(191, 191, 191);
  padding: .3em .7em;
  outline: none;
  border: none;
  background-color: #7bc2b196;
}

#memeImgContainer{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#memeFriendPic{
  border: solid 3px black;
  transition: box-shadow 2s;
}

#memeFriendPic:hover{
  box-shadow: 10px 10px 10px black;
}

.profile-username{
    font-size: 30px;
}

.personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
