#welcome-text {
  font-size: 30px;
  padding: 25px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  width: 90%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content:flex-start
}

#username {
  color: #7bc2b196;
  font-size: 30px;
}
