.create-post-form{
width:500px;
height: auto;
padding:7%;
box-sizing: border-box;
border-radius: 3px;
display: flex;
flex-direction: column;
}
.role-img {
    max-height: 30px;
    max-width: 30px;
}
.role-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    padding: 2%
}
.form-control {
    margin: 0px 0px 0px ;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(106, 98, 98);
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    color: white;
}

.text-control {
    margin: 0px 0px 0px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(106, 98, 98);
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    outline: none;
    padding: 5%;
    padding-left: 0%;
    resize: none;
}
select{
    height: 40px;
    background: transparent;
    outline: none;
    color: white;
    background-color: #454a52;
    border: none;
    border-bottom: 1px solid rgb(106, 98, 98);
}
option{
    height: 40px;
    font-size: 16px;
    padding: 2%;
    background-color: #3c3f44;
}

ul.role-selection{
    display: flex;
    flex-direction: row;
    color:white;
    width: auto;
}
.role-picker{
    display: flex;
}
.form-role-icon{
    background-color: white;
    height: 24px;
    width:24px;
    margin: 10px;
    border-radius: 5px;
    padding: -2%;
    box-sizing: border-box;
}

.form-role-icon img{
    height:24px;
    width:24px;
    border: 1px solid #454a52;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
