
.nav-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-around;
    position: fixed;
    margin: 10%;
    top: 20%;
    border: solid 1px black;
    width: 250px;
}

li{
    list-style: none;
    margin:5%;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
